page-dashboard {
    .toolbar-background-md {
        background: #f9f9f9;
    }
    .fixed-content {
        background: #ebf2f6;
    }
    .toolbar-ios ion-title {
        width: auto;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0;
    }
    .list-md .item-block .item-inner .item-block .item-inner {
        border-bottom: 1px solid #dedede;
    }
    .list-md .item-block .item-inner .item-block .item-inner:last-child {
        border-bottom: 0 !important;
    }
}
